node_modules
.pnpm-store
.idea
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist
build
.next
.expo
.expo-shared
.DS_Store
coverage
**/.env
docs/phase-3-notes.md
**/tsconfig.tsbuildinfo
